.club-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .about-club {
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 30px;
    background: white;
    z-index: 2;

    h2 {
      color: rgb(52, 168, 83);
      font-family: Rubik, sans-serif;
      font-size: 48px;
      font-weight: 800;
      line-height: 110%;
      letter-spacing: -1%;
      text-align: center;
      margin-bottom: 16px;
    }
    .text1{
      max-width: 555px;
      padding: 24px 32px;
      border: 1px solid rgba(235, 235, 235, 1);
      border-radius: 20px;

      h3 {
        color: rgb(26, 26, 26);
        font-family: Rubik, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -1%;
        text-align: center;
        margin-bottom: 8px;
      }

      p {
        color: rgb(26, 26, 26);
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -1%;
        margin-bottom: 40px;
      }
    }
  }

  .background {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    margin: 40px 0;

    .lifes {
      width: 100%;
      height: auto;
      max-height: 500px;
      object-fit: cover;
      position: absolute;
      z-index: 1;
      border-radius: 12px;
    }

    .volonteers {
      width: 100%;
      max-width: 1440px;
      height: auto;
      position: relative;
      z-index: 2;
      margin: 0 auto;
      border-radius: 12px;
    }

    .btn1, .btn2, .btn3, .btn4 {
      position: absolute;
      z-index: 3;
      border-radius: 100px;
      box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.11);
      background: rgb(255, 255, 255);
      outline: none;
      border: none;
      color: rgb(52, 168, 83);
      font-family: Roboto, sans-serif;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1%;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 16px;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.15);
      }
    }

    .btn1 {
      top: 37px;
      left: 94px;
      font-size: 15px;
    }

    .btn2 {
      bottom: 176px;
      left: 144px;
      font-size: 15px;
    }

    .btn3 {
      top: 32px;
      right: 196px;
      font-size: 15px;
    }

    .btn4 {
      bottom: 131px;
      right: 101px;
      font-size: 15px;
    }
  }

  .card1, .card2 {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    img {
      width: 670px;
      height: 378px;
      background: rgb(217, 217, 217);
      object-fit: cover;
      border-radius: 10px;
      flex-shrink: 0;
    }

    .txt, .txt2 {
      width: 650px;
      display: flex;
      align-items: center;
      justify-content: center;

      div:first-child {
        h2 {
          color: rgb(26, 26, 26);
          font-family: Rubik, sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -1%;
          text-align: left;
          margin-bottom: 16px;
        }

        p {
          color: rgb(26, 26, 26);
          font-family: Rubik, sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: -1%;
          text-align: left;
        }
      }


    }
  }

  .card2 {
    flex-direction: row-reverse;
  }

  .bottom-part {
    box-sizing: border-box;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    h2 {
      color: rgb(26, 26, 26);
      font-family: Rubik, sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -1%;
      text-align: center;
      margin-bottom: 40px;

    }
    .out {
      display: flex;
      justify-content: center;
      max-width: 1200px;
      position: relative;
      .members:hover {
        transform: scale(1.05);
      }
      .members {
        width: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        div:first-child {
          justify-content: center;
          align-items: center;
          display: flex;
          margin-bottom: 10px;
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        h3 {
          color: rgb(26, 26, 26);
          font-family: Rubik;
          font-size: 17px;
          font-weight: 500;
          line-height: 110%;
          letter-spacing: -1%;
          text-align: center;
          margin-bottom: 4px;
        }

        p {
          color: rgba(26, 26, 26, 0.7);
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: -1%;
          text-align: center;
        }

      }
      .modal {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

      }

      .modal-content {
        background: #0D1117;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        width: 450px;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        color: #fff;
      }
    }
  }
}
/* ========== Модальное окно ========== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 30px 25px;
  border-radius: 16px;
  max-width: 630px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.modal-content {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  div:first-child {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid rgba(52, 168, 83, 1);
    }
    p{
      font-family: Rubik, serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -1%;
      text-align: center;
    }
  }
  div:last-child {
    p{
      font-family: Rubik, serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -1%;
      text-align: left;
    }
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.close-button:hover {
  transform: scale(1.1);
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

