.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;

  .first {
    width: 144.96px;
    height: 20px;
  }

  .inside {
    display: flex;
    gap: 40px;
    align-items: center;

    ul {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        .nav-link {
          color: rgb(26, 26, 26);
          font-family: Roboto, serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 120%;
          text-align: center;
          cursor: pointer;
          transition: color 0.3s;
          text-decoration: none;
          display: inline-block;
          position: relative;
          padding-bottom: 5px;
          letter-spacing: -1%;


          &:hover {
            color: rgb(52, 168, 83);
          }

          &.active {
            color: rgb(52, 168, 83);
            font-weight: 500;

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: rgb(52, 168, 83);
              animation: underline 0.3s ease-out;
            }
          }
        }
      }
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 24px;

      .lang {
        display: flex;
        padding: 5px;
        border-radius: 100px;
        background: rgb(245, 245, 245);
        overflow: hidden;
        gap: 5px;

        button {
          margin-top: -2px;
          padding: 5px 10px;
          background-color: white;
          border: none;
          cursor: pointer;
          border-radius: 100px;
          transition: background 0.3s;
          color: rgba(26, 26, 26, 0.7);
          font-size: 14px;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: -1%;
          text-align: left;

          &:hover {
            background: lightgray;
          }

          &.active {
            background: white;
            color: rgb(52, 168, 83);
          }

          &:focus {
            outline: none;
            border: none;
          }
        }
      }

      .title-btn {
        margin-top: -2px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        background: rgb(52, 168, 83);
        cursor: pointer;
        transition: background 0.3s, border-color 0.3s;
        color: rgb(255, 255, 255);
        font-family: Roboto, sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1%;
        border: none;
        padding: 11px 24px;

        &:hover {
          transform: scale(1.1);
          background: rgb(32, 117, 55);
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}