.footer {
  margin-top: 40px;

  .text {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      font-family: Rubik, serif;
      font-weight: 600;
      font-size: 36px;
      letter-spacing: -1%;
      color: rgba(26, 26, 26, 1);
      margin-bottom: 12px;
    }

    p {
      color: #34A853;
      font-family: Rubik, serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      letter-spacing: -1%;
    }
  }

  .contact-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact-item {
      display: flex;
      align-items: center;

      .contact-icon {
        width: 20px;
        height: 20px;
        color: #34A853;
        flex-shrink: 0;
        margin-right: 5px;
      }

      p {
        font-family: Rubik, cursive;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -1%;
        color: rgba(26, 26, 26, 1);
      }
    }
  }

  .input-section {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    .inputs {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input:-webkit-autofill {
      font-family: Rubik, serif !important;
      font-size: 17px !important;
      font-weight: 500 !important;
      -webkit-text-fill-color: black !important;
      -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }

    .input-group {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      border: 1.5px solid rgba(235, 235, 235, 1);
      border-radius: 20px;
      margin-bottom: 12px;
      padding: 16px;

      &:hover {
        outline: none;
        border-color: #34A853;
        box-shadow: 0 0 0 2px rgba(52, 168, 83, 0.2);
      }

      .input-icon {
        width: 24px;
        height: 24px;
        color: #34A853;
        margin-right: 12px;
        margin-top: 4px;
      }

      .input-with-icon {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
          font-family: Roboto, serif;
          font-size: 15px;
          color: rgba(26, 26, 26, 1);
          margin-bottom: 4px;
        }

        input.custom-input {
          font-family: Rubik, serif;
          font-size: 17px;
          color: black;
          border: none;
          outline: none;
          background: transparent;
          font-weight: 500;

          &::placeholder {
            font-weight: 500;
            font-size: 17px;
            color: black;
          }
        }
      }
    }

    .submit-btn {
      border-radius: 100px;
      width: 100%;
      padding: 10px 24px;
      background-color: #34A853;
      color: white;
      border: none;
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2E8B46;
      }
    }

    p {
      margin-top: 12px;
      width: 100%;
      max-width: 400px;
      font-family: Roboto, serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -1%;
      text-align: center;
      color: rgba(26, 26, 26, 1);
      margin-bottom: 40px;
    }
  }
}
